/*css for exercise*/

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 0.1rem solid black;
    padding: 0.5rem;
}
blockquote.reference {
    border: 0.1rem dotted black;
    padding: 0.5rem;
}
footer {
    border: 0.1rem solid darkslategrey;
    padding: 0.1rem;
    word-wrap: break-word;
    margin-top: 3rem;
    font-size: 0.75rem;
}
